.footer {
  background-color: $color-black-light-1;
  padding: 4rem 0;
  color: $color-grey-light-1;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
  }
}