.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  color: $color-grey-light-1;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // margin: 2rem;
  }

  &__item {
    // background: red;
    font-size: 2rem;
    padding: 3rem;
    text-align: center;

    @include respond(tab-port) {
      padding: 1rem;
    }


    &:last-child {
      font-size: $default-font-size;

      @include respond(tab-port) {
        padding-top: 3rem;
        width: 90%;
      }
    }
  }

  &__link {

    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: $color-grey-light-1;
    }
  }
}