.footer {
  background-color: $color-black;
  padding: 10rem 0;
  color: $color-grey-light-1;

  &__icon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    // &--item {
    //   padding: 1.5rem;
    // }
  }

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    font-size: 2rem;
    padding: 1.2rem;
    text-align: center;

    @include respond(tab-port) {
      padding: 1rem;
    }

    &:last-child {
      font-size: $default-font-size;

      @include respond(tab-port) {
        padding-top: 3rem;
        width: 90%;
      }
    }
  }

  &__link {
    padding: 1.5rem;

    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
    }

    &:hover,
    &:active {
      color: inherit;
    }

    a:link,
    a:visited>.fa {
      color: $color-white;
    }
  }
}