.section-about {
  background-color: $color-black-light-1;
  padding: 10rem 0;

  @include respond(tab-land) {
    padding: 10rem 2rem;
  }

  @include respond(phone) {
    padding: 0;
  }
}

.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom,
      rgba($color-black, 0.7),
      rgba($color-black, 0.7)),
    url(../../img/old-computer.jpg);
  background-size: cover;
  background-position: bottom;
}

.section-projects {
  background-color: $color-black-light-1;
  padding: 10rem 0;

  @include respond(tab-land) {
    padding: 10rem 2rem;
  }
}

.section-contact {
  padding: 10rem;
  background-image: linear-gradient(to right bottom,
      rgba($color-black, 0.7),
      rgba($color-black, 0.7)),
    url(../../img/laptop-desk.jpg);
  background-size: cover;
  background-position: top;

  @include respond(phone) {
    padding: 0;
  }

}

.contact {
  border-radius: 8px;
  box-shadow: 0 1.5rem 4rem rgba($color-white, .2);

  &__form {
    width: 100%;
    padding: 8rem;

    @include respond(phone) {
      padding: 5rem 2rem;
    }
  }

}